# Server
NODE_ENV=development
PORT=4000

# Database
MONGO_URI=mongodb://localhost:27017/auth_service

# JWT
JWT_ACCESS_SECRET=change_this_access_secret
JWT_REFRESH_SECRET=change_this_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Bcrypt
BCRYPT_SALT_ROUNDS=10

# CORS
CORS_ORIGIN=http://localhost:3000
